@media screen and (min-width: 320px) and (max-width:799px) {

    #setting-tool {
        position: sticky;
        top: 33px;
        left: 95%;

    }

    .brand-logo {
        margin-top: 25px;
        width: 70%;
        text-align: center;
        padding-left: 0.2rem;
    }

    .brand-logo img {
        width: 20vw;
    }

    .search {
        width: 80%;
        margin-top: 20px;
    }

    .search img {
        margin: 0.8vw;
        height: 5vw;
        border-radius: 50%;
        padding-top: 3px;
    }

    #input {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .rescent {
        width: 70%;
        margin-top: 12px;
    }

    .rescent h3 {
        font-size: 1.5rem;
    }

    .cards {
        flex-basis: 100%;
        margin-bottom: 16px;
    }

    .cards img {
        height: 18vh;
    }

    .child-time {
        position: absolute;
        height: 2rem;
        width: 2rem;
        background: rgb(242, 242, 242);
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJklEQVQ4T42TjXHCMAyFyQSEDcIGMAHpBJQNYALYgLABnaDtBJQJgA1gAsIGbADvy0k54zNQ3b3zj6RnPdnOOmkrtD0SGK/CQTimQrNos9R6KTCeLJkQyGqhEn7DnJBgKse3BRBIgluuycKw0ThzhxN4Mo6fqKpwOdBiL7QkEMB+Fr6sxDAB/aUQ6me9Ez4gg8BLKxIn3zww8nmVUwj+hNqIYo5nBJ8KpF89CNAEqicVTOyQ0O0ysncEVDcW1sJKoCfYA8ErCR6M5q4wNLlIYC/3Js616CckhFskcRhGMtY0kWusBcqs3pB4RQ/X2DAJdPU/D4nkreV0Uk+Z8mgYVblRJTJ5M20yztRnQoZ/HkhI5glfTCIHtBYTuKPQpBQYubq9kPzOd1c0SBF2y0vcAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center;
        right: 3px;
        top: 125px;
        border-radius: 50%;
    }
}